html{
    height: 100%;
}

body{
    margin: 0px;
}

header {
    border-bottom: 2px solid black;
    text-align: center;
}

main {
    text-align: center;
}

#application-start{
    height: 75vh;
}

#application-start h2{
    padding-top: 15vh;
    padding-bottom: 5vh;
    font-size: 40px;
}

#application-start button{
    font-size: 20px;
    border-radius: 25px;
    padding: 5px 40px 5px 40px;
}

footer{
    border-top: 1px solid black;
    text-align: center;
    margin-top: 90%;
    padding-bottom: 5px;
}